server:
  port: 9999
  servlet:
    encoding:
      charset: utf-8
      force: true

spring:
  datasource:
    url: jdbc:mariadb://hjstore-db3.cassnwomnzld.ap-northeast-2.rds.amazonaws.com:3306/hjstore?allowPublicKeyRetrieval=true&useSSL=false
    driver-class-name: org.mariadb.jdbc.Driver
    username: denji
    password: qlu6nvnBB1
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      default_batch_fetch_size: 100
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
logging:
  level:
    '[com.macro.hjstore]': INFO # DEBUG 레벨부터 에러 확인할 수 있게 설정하기

file:
  path: ./upload/ # UPLOAD 폴더 상대경로 / AWS에 S3 사용하는게 좋음